body {
	margin:0;
	font-family:Helvetica, Arial, sans-serif;
}
#headerCarousel {
	margin:0 auto;
	padding: 0 200px;
	width:400px;
	height:310px;
	overflow:scroll;
}
#headerCarousel + div {
	margin:0 auto;
}
.textholder {
	text-align:center;
	font-face:Helvetica, Arial, sans-serif;
	font-size:small;
	padding:6px;
	color:#FFF;
	opacity:1;
}
textholder p {
	color:#FFF;
}
#headerCarousel ul{
	width:900px;
	background-color:#FFF;
}
